:host {
    box-sizing: border-box !important; /* set this to important because of common box-sizing selector `*, *:before, *:after` in the global scope */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

:host(:not(:first-child)) {
  padding-top: 4rem;
}
