:host {
  box-sizing: border-box !important; /* set this to important because of common box-sizing selector `*, *:before, *:after` in the global scope */
  display: inline-block;
  position: relative;
  user-select: none;
  z-index: var(--z-index-item-input); /* use a lower z-index than links inside checkbox label */
}

button {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  appearance: none;
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

.radio-icon {
  display: block;
  position: relative;
  width: 17px;
  height: 17px;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-gris30);
  border-radius: 17px; /* same as height of radio button */
  box-sizing: border-box;
}

.radio-icon path {
  fill: none;
  stroke: var(--color-white);
  stroke-width: 2px;
  opacity: 0;
}


/* DISABLED ----------------------------------------------------------------- */


:host([disabled]) button {
  cursor: default;
}


/* CHECKED ------------------------------------------------------------------ */


:host([checked]) .radio-icon {
  border-width: 2px;
  border-color: var(--color-noir);
  background-color: var(--color-noir);
}

:host([checked]) .radio-icon path {
  opacity: 1;
}


/* HOVER/FOCUS -------------------------------------------------------------- */


:host(:not([disabled]).has-keyboard-focus) .radio-icon {
  border-width: 2px;
  border-color: var(--color-vert);
}

:host([checked]:not([disabled]).has-keyboard-focus) .radio-icon {
  border-width: 2px;
  border-color: var(--color-vert);
}


/* WITHIN ITEM COMPOSITION -------------------------------------------------- */


:host(.in-item) {
  display: block;
  position: static;
  align-self: baseline;
  margin: 8px 9px 5px 0;
}
