// - - - - - - - - - - - - - - - - - - - - - - - - -
// Pax global sass variables
// - - - - - - - - - - - - - - - - - - - - - - - - -
//
//

$pax_white: #fff;
$pax_black: #000;

// main Pax colors
$pax_prune: #3b3a53;
$pax_claire: #eff3f6;

$pax_prunenoir: #1f2539;
$pax_vert: #8ccd0f;
$pax_vertfonce: rgb(127, 182, 44); // TODO: Does NOT EXIST IN PAX CD
$pax_vertnoir: rgb(125,184,14); // TODO: Does NOT EXIST IN PAX CD
$pax_orange: #f6a800;
$pax_aubergine: #532a42;
$pax_marron: #52413e;
$pax_indigo: #526bc7; // ADDED IN VIU WEB PROJECT AS NEW ACCENT COLOR
$pax_limon: #d8c925; // ADDED IN VIU WEB PROJECT NEW ACCENT COLOR
$pax_tango: #ef7c25; // ADDED IN VIU WEB PROJECT AS NEW ACCENT COLOR

// gris
$pax_gris20: #d9dadb;
$pax_gris30: #c6c6c6;
$pax_gris45: #adadad;
$pax_gris60: #878787;
$pax_gris77: #626262;
$pax_gris: rgba(59, 59, 59, 1); // TODO: Does NOT EXIST IN PAX CD
$pax_mist: #f5f5f5;
$pax_gray1: #8c8c8c;
$pax_gray2: #8d8d8f;
$pax_gray3: #979797;
$pax_gray4: #717a84;

// bleu
$pax_bleu40: #009bc8;
$pax_bleu55: #0582b4;
$pax_bleu70: #0a696a;
$pax_bleu85: #12558c;
$pax_bleu100: #144178;

// rouge
$pax_rouge40: #ff8778;
$pax_rouge55: #eb645f;
$pax_rouge70: #d2464b;
$pax_rouge85: #b92d3c;
$pax_rouge100: #a01432;


// Shadows
$pax_shadow: rgba($pax_black, .3);
$pax_shadow-light: rgba($pax_black, .2);
$pax_shadow-white: rgba($pax_white, .5);
$pax_shadow-overlay: rgba($pax_black, .65);

// Opaques
$pax_white-opaque: rgba($pax_white, .5);
$pax_green-brand-opaque: rgba($pax_vert, .6);
$pax_prune-transparent: rgba($pax_prune, 0);
$pax_prune-opaque: rgba($pax_prune, .5);
$pax_prune-noir-opaque: rgba($pax_prunenoir, .5);
$pax_prune-claire-transparent: rgba($pax_claire, 0);


// Tones
$pax_white-darkened: darken($pax_white, 10%);
$pax_orange-background: #f5ca01;

// spacings
$pax_layout-width-min: 320px;
$pax_layout-width-max: 1392px;
$pax_layout-offset-desktop: 4.8rem; //48px
$pax_layout-gutter-mobile: 2.4rem; //48px
$pax_layout-gutter-tablet: 2.4rem; //48px
$pax_layout-gutter-desktop: 4.8rem; //48px
$pax_layout-gutter-desktop-px: 48px;
$pax_layout-cols: 12; // Number of columns: 12
$pax_layout-column-width-desktop: 6.8rem;
$pax_layout-column-padding-desktop: 7.5rem;
$pax_layout-margin-top: 4rem;
$pax_layout-column-padding: 1.6rem;


