/**
 * SCOPED
 */

:host {
  box-sizing: border-box !important; /* set this to important because of common box-sizing selector `*, *:before, *:after` in the global scope */
}

input {
  width: 100%;
  padding: 9px 0 8px 0;
  background-color: var(--color-white);
  border: none;
  border-bottom: 1px solid var(--color-gris77);
  font-size: 16px;
  font-family: var(--font-family-myriad-pro);
  font-weight: var(--font-weight-regular);
  line-height: 1.375em;
  color: var(--color-noir);
  outline: none;
  text-overflow: ellipsis;
}

.error-message {
  margin-top: 0.1em;
  font-family: var(--font-family-myriad-pro);
  font-weight: var(--font-weight-regular);
  font-size: 13px;
  color: var(--color-rouge);
}


/* DISABLED ----------------------------------------------------------------- */


:host([disabled]) input {
  color: var(--color-gris45);
  border-bottom-color: var(--color-noir);
}


/* READ-ONLY ---------------------------------------------------------------- */


:host([readonly]) input {
  color: var(--color-prune);
}


/* WITH VALUE --------------------------------------------------------------- */


:host(:not([readonly]).has-value) input {
  border-bottom-color: var(--color-noir);
}


/* HOVER/FOCUS -------------------------------------------------------------- */


:host(:not([readonly]):not([disabled]).has-focus) input {
  padding-bottom: 7px;
  border-bottom-color: var(--color-vert);
  border-bottom-width: 2px;
  color: var(--color-gris77);
}


/* INVALID ------------------------------------------------------------------ */


:host([invalid]:not([readonly]):not([disabled])) input:not(:focus) {
  padding-bottom: 7px;
  border-bottom-color: var(--color-rouge);
  border-bottom-width: 2px;
}


/* WITHIN ITEM COMPOSITION -------------------------------------------------- */


:host-context(pax-item) input {
  background-color: transparent;
}

:host-context(pax-item.item-has-focus):not([disabled]) input,
:host-context(pax-item:hover):not([disabled]) input {
  border-bottom-color: var(--color-vert);
}
